<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<form method="post" action="/add">
 <input
         type="text"
         placeholder="Введите название книги" name="bookName" required/>

 <input
         type="text"
         placeholder="Введите автора" name="author" required/>

 <input type="number"
        placeholder="Введите даду издания" name="presentYear" required/>

 <button type="submit">Add</button>
</form>

<br/>

<table class="table">
 <thead>
 <tr>
  <th> Книга </th>
  <th> Автор </th>
  <th> Год издания </th>
 </tr>
 </thead>
 <tbody>


 <tr  th:each="book,iterStat : ${books}">

 <td><span th:text="${book.bookName}">  </span></td>
  <td><span th:text="${book.author}">  </span></td>
  <td><span th:text="${book.presentYear}">  </span></td>

<!--  <td th:text="${iterStat.index}">index</td>-->

  <td>  <a href="edit" th:href="@{edit/{bookId}(bookId=${iterStat.index})}"   class="btn btn-success">Edit</a><br/> </td>
  <td>  <a href="delete" th:href="@{delete/{bookId}(bookId=${iterStat.index})}"  class="btn btn-danger">Delete</a><br/> </td>

 </tr>
 </tbody>
</table>

</body>
</html>
